{% extends 'base/dash_layout.html' %}


{% block content %}
<section id='' class='' style='min-height:100vh; background:rgb(225,225,225);'>
	<div class='container-fluid' 
			style='padding:0; display:flex; align-items:center; justify-content:center;'>

    <div class='container-fluid hide-div' 
        style='width:16vw; min-height:100vh;'><!-- LEFT COLUMN -->
      {% include 'sidebar/_admin_sidebar.html' %}
    </div><!-- End LEFT COLUMN -->

		<div class='container-fluid' style='margin:0; padding:0; min-height:100vh;'><!-- RIGHT COLUMN -->

			{% include 'navbar/_navbar.html' %}
			<div style='margin:20px;'>
				{% include 'message/_message.html' %}
			</div>

			<div class='container hide-div'>
				<h2 class='text-right' style='color:rgba(0, 0, 0, 0.7)'>{{ title }}</h2>
			</div>

			<iframe src='{{ url_for("geomap.show") }}' style='width:100%; height:30vh; border:transparent;'></iframe>

			<div class='hide-div py-4'
					style='display:flex; flex-wrap:wrap; align-items:center; justify-content:center;'><!-- CONTENT 1 -->
				<table class='table table-sm table-borderless table-hover' style='width:90%;'>
					<thead style='margin-bottom:10px; border-bottom:1px solid rgba(0,0,0,.1)'>
						<tr style='text-align:left;'>
							<th scope='col'>Company</th>
							<th class='hide-div' scope='col'>Member</th>
							<th class='hide-div' scope='col'>Administrator</th>
							<th class='hide-div' scope='col'>Latitude</th>
							<th class='hide-div' scope='col'>Longitude</th>
							<th class='hide-div' scope='col'></th>
						</tr>
					</thead>
					<tbody>
						{% for company in companies %}
						<tr style='text-align:left;' class='clickable-row' rel='noopener noreferrer'
								data-href='{{ url_for("company.profile", company_id=company.id) }}'>
							<td style='vertical-align:middle;'>
								<marquee>{{ company.name }}</marquee><br>
								<span style='color:grey; font-size:0.5em;'>
									created on: {{ company.created_on.strftime('%d %b %Y %H:%M %p') }} 
									( {{ company.created_on | datetimeformat }} )
								</span>
							</td>
							<td class='hide-div' style='vertical-align:middle;'>
								<div style='display:flex; flex-wrap:wrap; align-items:center; justify-content:flex-start;'>
									{% for user in company.employees %}
										<img src='{{ url_for("static", filename="uploads/selfie_img/" + user.selfie_file) }}' 
											style='height:30px; width:30px; margin-left:-4px; object-fit:cover; object-position:center center; 
											box-shadow:0 0 0 1px #FFF; border-radius:9999px'>
									{% endfor %}
								</div>
							</td>
							<td class='hide-div' style='vertical-align:middle;'>
								<div style='display:flex; flex-wrap:wrap; align-items:center; justify-content:flex-start;'>
									{% for user in company.administrators %}
										<img src='{{ url_for("static", filename="uploads/selfie_img/" + user.selfie_file) }}' 
											style='height:30px; width:30px; margin-left:-4px; object-fit:cover; object-position:center center; 
											box-shadow:0 0 0 1px #FFF; border-radius:9999px'>
									{% endfor %}
								</div>
							</td>
							<td class='hide-div' style='vertical-align:middle;'>{{ company.lat }}</td>
							<td class='hide-div' style='vertical-align:middle;'>{{ company.lon }}</td>
							<td class='hide-div' style='width:10%; vertical-align:middle;'>
								<a rel='noopener noreferrer' 
										href='{{ url_for("admin.delete_company", company_id=company.id) }}' style='color:#000000;'>
									<span class="fa-stack">
										<i class="fa fa-trash-o fa-stack-1x"></i>
									</span>
								</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div><!-- End CONTENT 1 -->
			
		</div><!-- End RIGHT COLUMN -->

	</div>
</section>
{% endblock %}


{% block scripts %}
	{{ super() }}
	<script>
	jQuery(document).ready(function($) {
		$(".clickable-row").click(function() {
			window.location = $(this).data("href");
		});
	});
	</script>
{% endblock %}
