{% extends 'base/dash_layout.html' %}


{% block content %}
<section id='' class='' style='min-height:100vh; background:rgb(225,225,225);'>
  <div class='container-fluid' 
      style='padding:0; display:flex; align-items:center; justify-content:center;'>

    <div class='container-fluid hide-div' 
        style='width:16vw; min-height:100vh;'><!-- LEFT COLUMN -->
      {% include 'sidebar/_admin_sidebar.html' %}
    </div><!-- End LEFT COLUMN -->

    <div class='container-fluid' style='margin:0; padding:0; min-height:100vh;'><!-- RIGHT COLUMN -->

      {% include 'navbar/_navbar.html' %}
      <div style='margin:20px;'>
        {% include 'message/_message.html' %}
      </div>

      <div class='container hide-div'>
        <h2 class='text-right' style='color:rgba(0, 0, 0, 0.7)'>{{ title }}</h2>
      </div>

      <iframe src='{{ url_for("geomap.show") }}' style='width:100%; height:30vh; border:transparent;'></iframe>

      <div class='hide-div py-4' 
          style='display:flex; flex-wrap:wrap; align-items:center; justify-content:center;'><!-- CONTENT 1 -->
        <table class='table table-sm table-borderless table-hover' style='width:90%;'>
          <thead style='margin-bottom:10px; border-bottom:1px solid rgba(0,0,0,.1)'>
            <tr style='text-align:left;'>
              <th scope='col'>Customer</th>
              <th scope='col'>Primary Provider</th>
              <th scope='col'>Consultations</th>
              <th class='hide-div' scope='col'></th>
            </tr>
          </thead>
          <tbody>
            {% for consultation in consultations | reverse %}
            <tr style='text-align:left;'>
              <td style='vertical-align:middle;'>
                <img src='{{ url_for("static", filename="uploads/selfie_img/" + consultation.customer.selfie_file) }}' 
                  style='height:40px; width:40px; margin-left:-4px; object-fit:cover; object-position:center center; 
                  box-shadow:0 0 0 1px #FFF; border-radius:9999px'>
                <a href='{{ url_for("user.profile", 
                    username=consultation.customer.username, user_id=consultation.customer.id) }}'>
                  {{ consultation.customer.username }}
                </a> 
                <br>
              </td>
              <td style='vertical-align:middle;'>
                <img src='{{ url_for("static", filename="uploads/selfie_img/" + consultation.primary_provider.selfie_file) }}' 
                  style='height:40px; width:40px; margin-left:-4px; object-fit:cover; object-position:center center; 
                  box-shadow:0 0 0 1px #FFF; border-radius:9999px'>
                <a href='{{ url_for("user.profile", 
                    username=consultation.customer.username, user_id=consultation.customer.id) }}'>
                  {{ consultation.primary_provider.username }}
                </a> 
                <br>
              </td>
              <td style='width:10%; vertical-align:middle;'>
                {% for mc in consultation.medical_certs %}
                  {% if mc != None %}
                    <div class='container-fluid' 
                        style='display:flex; flex-wrap:wrap;  align-items:center; justify-content:flex-start;'>
                      <div class='card' 
                          style='width:280px; min-height:140px; border:0 transparent; border-radius:20px;'><!-- card -->
                        <div class='card-body' 
                            style='width:280px; min-height:140px; background:rgb(21, 31, 42, 0.9); border-radius:20px; overflow:hidden; display:flex; flex-wrap:wrap; align-items:center; justify-content:center;'>
                          <h5 style='color:#FAFAFA;'>Medical Certificate</h5>
                          <h6 class='py-1' style='font-size:0.9em; color:#F0FFFF;'>{{ consultation.customer.username }}</h6>
                          <p style='font-size:0.8em; color:#F0FFFF; text-align:justify;'>
                            is unfit for duties for {{ mc.num_of_unfit_days }} days starting from 
                            {{ mc.created_on.strftime('%a, %d %b %Y') }}
                          </p>
                          <small class='text-muted'>Issued by: {{ mc.provider.username }}</small>
                        </div>
                      </div><!-- End Card -->
                    </div>
                  {% endif %}
                {% endfor %}
              </td>

              <td class='hide-div' style='width:10%; vertical-align:middle;'>
                {% if current_user.is_superadmin %}
                  <a rel='noopener noreferrer' 
                      href='{{ url_for("admin.delete_consultation", consultation_id=consultation.id) }}' 
                      style='color:#000000;'>
                    <span class="fa-stack">
                      <i class="fa fa-trash-o fa-stack-1x"></i>
                    </span>
                  </a>
                {% endif %}
              </td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div><!-- End CONTENT 1 -->

    </div><!-- End RIGHT COLUMN -->

  </div>
</section>
{% endblock %}


{% block scripts %}
  {{ super() }}
  <script>
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
      window.location = $(this).data("href");
    });
  });
  </script>
{% endblock %}
