{% extends 'base/dash_layout.html' %}


{% block content %}
<section id='' class='' style='min-height:100vh; background:rgb(225,225,225);'>
  <div class='container-fluid' 
      style='padding:0; display:flex; align-items:center; justify-content:center;'>

    <div class='container-fluid hide-div' 
        style='width:16vw; min-height:100vh;'><!-- LEFT COLUMN -->
      {% include 'sidebar/_admin_sidebar.html' %}
    </div><!-- End LEFT COLUMN -->

    <div class='container-fluid' style='margin:0; padding:0; min-height:100vh;'><!-- RIGHT COLUMN -->

      {% include 'navbar/_navbar.html' %}
      
      <div style='margin:20px;'>
        {% include 'message/_message.html' %}
      </div>

      <div class='container hide-div'>
        <h2 class='text-right' style='color:rgba(0, 0, 0, 0.7)'>{{ title }}</h2>
      </div>

      <iframe src='{{ url_for("geomap.show") }}' style='width:100%; height:30vh; border:transparent;'></iframe>

      <div class='hide-div py-4' 
          style='display:flex; flex-wrap:wrap; align-items:center; justify-content:center;'><!-- CONTENT 1 -->
        <table class='table table-sm table-borderless table-hover' style='width:90%;'>
          <thead style='margin-bottom:10px; border-bottom:1px solid rgba(0,0,0,.1)'>
            <tr style='text-align:left;'>
              <th scope='col'></th>
              <th scope='col'>Name</th>
              <th class='hide-div' scope='col'>Email</th>
              <th class='hide-div' scope='col'>Confirmed</th>
              <th class='hide-div' scope='col'>SUp</th>
              <th class='hide-div' scope='col'>SDown</th>
              <th class='hide-div' scope='col'>Verify</th>
              <th class='hide-div' scope='col'>Newsletter</th>
              <th class='hide-div' scope='col'></th>
            </tr>
          </thead>
          <tbody>
            {% for user in users.items %}
            <tr style='text-align:left;' class='clickable-row' rel='noopener noreferrer'
                data-href='{{ url_for("user.profile", user_id=user.id) }}'>
              <td style='vertical-align:middle;'>
                <img src='{{ url_for("static", filename="uploads/selfie_img/" + user.selfie_file) }}' loading='lazy'
                  style='height:30px; width:30px; margin-left:-4px; object-fit:cover; object-position:center center; 
                  box-shadow:0 0 0 1px #FFF; border-radius:9999px;'>
                <br>
                <span style='color:grey; font-size:0.5em;'>
                  created on: {{ user.created_on.strftime('%d %b %Y %H:%M %p') }}<br>
                  <small>( {{user.created_on | datetimeformat }} )</small>
                </span>
              </td>
              <td style='vertical-align:middle;'>
                  {% if user.last_name == None %}
                    {{ user.username }}
                  {% else %}
                    {{ user.given_name }} {{ user.last_name }}
                  {% endif %}
                  <br>
                <span style='color:grey; font-size:0.5em;'>
                  {% if user.is_superadmin %}
                    superadmin
                  {% else %}
                    member
                  {% endif %}

                  {% if user.is_doctor %}
                    <span style='color:#6FB2FF'>Doctor</span>
                  {% elif user.is_courier %}
                    <span style='color:#6FB2FF'>Courier</span>
                  {% endif %}
                </span><br>
                <span style='color:grey; font-size:0.5em;'>
                  last seen: {{ user.last_seen | datetimeformat }}
                </span>
              </td>
              <td class='hide-div' style='vertical-align:middle;'>
                {{ user.phone }}<br>
                <span style='color:grey; font-size:0.5em;'>
                  {{ user.email }}<br>
                  {{ user.nric }}
                </span>
              </td>
              <td class='hide-div' style='vertical-align:middle;'>
                {{ user.confirmed }}<br>
                <span style='color:grey; font-size:0.5em;'>
                  confirmed: {{ user.confirmed_on | datetimeformat }} 
                </span>
              </td>
              <td class='hide-div' style='width:10%; vertical-align:middle;'>
                {% if user != current_user and current_user.is_superadmin %}
                <a href='{{ url_for("admin.superadmin_up", user_id=user.id, username=user.username) }}' 
                    style='color:#000000;'>
                  <span class='fa-stack'>
                    <i class='fa fa-eye fa-stack-1x'></i>
                  </span>
                </a>
                {% endif %}
              </td>
              <td class='hide-div' style='vertical-align:middle;'>
                {% if user != current_user and current_user.is_superadmin %}
                <a rel='noopener noreferrer' 
                    href='{{ url_for("admin.superadmin_down", user_id=user.id, username=user.username) }}' 
                      style='color:#000000;'>
                  <span class='fa-stack'>
                    <i class='fa fa-eye-slash fa-stack-1x'></i>
                  </span>
                </a>
                {% endif %}
              </td>
              <td class='hide-div' style='vertical-align:middle;'>
                {% if user != current_user and current_user.is_superadmin %}
                  <a href='{{ url_for("auth.send_verification_email", user_id=user.id) }}' class='btn-mod text-grey'>
                    <small>Email</small>
                  </a>
                {% endif %}
              </td>


              <td class='hide-div' style='vertical-align:middle;'>
                {% if user != current_user and current_user.is_superadmin %}
                  <a href='{{ url_for("auth.send_newsletter_verification_email", user_id=user.id) }}' 
                      class='btn-mod text-grey'>
                    <small>Newsletter</small>
                  </a>
                {% endif %}
              </td>


              <td class='hide-div' style='width:5%; vertical-align:middle;'>
                {% if user != current_user and current_user.is_superadmin %}
                <a rel='noopener noreferrer' 
                    href='{{ url_for("admin.remove_people", user_id=user.id) }}' style='color:#000000;'>
                  <span class='fa-stack'>
                    <i class='fa fa-trash-o fa-stack-1x'></i>
                  </span>
                </a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div><!-- End CONTENT 1 -->

      <div class='hide-div pb-4' 
          style='display:flex; flex-wrap:wrap; align-items:center; justify-content:center;'><!-- CONTENT 2 -->
        <!-- Pagination -->
        <div class='text-right'><!-- Pagination Links-->
          <a href="{{ url_for('admin.people', page=users.prev_num) }}"
              class='btn btn-outline-dark {% if users.page == 1 %}disabled{% endif %}'>
            &laquo;
          </a>
          <!-- Loop through the number of pages to display a link for each-->
          {% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                <!-- Check for the active page and set the link to "Active"-->
                {% if users.page == page_num %}
                <a href="{{ url_for('admin.people', page=page_num) }}" class='btn btn-dark'>
                  {{ page_num }}
                </a>
                {% else %}
                <a href="{{ url_for('admin.people', page=page_num) }}" class='btn btn-outline-dark'>
                  {{ page_num }}
                </a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
          {% endfor %}
          <a href="{{ url_for('admin.people', page=users.next_num) }}" 
              class='btn btn-outline-dark {% if users.page == users.pages %}disabled{% endif %}'>
            &raquo;
          </a>
          <div>
            <small class="text-right mt-3">
               Showing page {{ users.page }} of {{ users.pages }}
            </small>
          </div>
        </div><!-- End Pagination Links-->
      </div><!-- End CONTENT 2 -->

    </div><!-- End RIGHT COLUMN -->

  </div>
</section>
{% endblock %}


{% block scripts %}
  {{ super() }}
  <script>
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
      window.location = $(this).data("href");
    });
  });
  </script>
{% endblock %}
