<footer>
	<div class='col-12 py-5' style='display:flex; flex-wrap:wrap; align-items:flex-start; justify-content:center;'>
		<div class='col-12 col-sm-6 col-lg-3'>
			<h2 style='font-weight:100; color:#6FB2FF;'> 
				About Us
			</h2>
			<a href='{{ url_for("construction.landing") }}' class='text-muted' style='margin:auto;'>
				The Story of WhoseDoctor
			</a><br>
			<a href='{{ url_for("construction.landing") }}' class='text-muted' style='margin:auto;'>
				Newsroom
			</a><br>
			<a href='{{ url_for("construction.landing") }}' class='text-muted' style='margin:auto;'>
				Our Investors
			</a><br>
		</div>

		<div class='col-12 col-sm-6 col-lg-3'>
			<h2 style='font-weight:100; color:#6FB2FF;'> 
				Support
			</h2>
			<a href='{{ url_for("base.faq") }}' class='text-muted' style='margin:auto;'>
				FAQ
			</a><br>
			<a href='{{ url_for("home.feedback") }}' class='text-muted' style='margin:auto;'>
				Contact Us
			</a><br>
			<a href='{{ url_for("base.use_terms") }}' class='text-muted' style='margin:auto;'>
				Use Terms
			</a><br>
			<a href='{{ url_for("base.privacy_policy") }}' class='text-muted' style='margin:auto;'>
				Privacy Policy
			</a><br>
			<a href='{{ url_for("base.refund_policy") }}' class='text-muted' style='margin:auto;'>
				Refund Policy
			</a><br>
		</div>

		<div class='col-12 col-sm-6 col-lg-3'>
      <h2 style='font-family:Montserrat,sans-serif; font-weight:900; color:rgb(255, 255, 255);'>
        whose<span style='font-weight:300; color:rgb(254, 125, 1)'>doctor</span>
      </h2>
			<a href='{{ url_for("construction.landing") }}' class='text-muted' style='margin:auto;'>
				Tele-health Consultation
			</a><br>
		</div>
	</div>


	<div class='py-5' style='display:flex; align-items:center; justify-content:center;'>
		<div class='col-12 text-center'>
			<p class='text-muted' style='margin:auto;'>Copyright &#xA9; 2021. All Rights Reserved</p>
		</div>
	</div>
</footer>
