{% extends 'base/dash_layout.html' %}


{% block content %}
<section id='' class='d-flex align-items-center position-relative vh-45 cover intro' 
		style='background-image:url("/static/uploads/app_img/bg001.jpeg"); 
						display:flex; align-items:center; justify-content:center;
						background-size: cover; 
						background-repeat: no-repeat; 
						background-position: center center; 
						background-attachment: fixed;'>
	<div class='container-fluid' style='min-height:45vh; 
			display:flex; align-items:center; justify-content:center;'>
		<div class='row text-center'>
			<div class='col-12'>
				<h2 style='font-family:Montserrat,sans-serif; font-weight:900; color:rgb(21, 31, 42);'>
					whose<span style='font-weight:300; color:rgb(254, 125, 1);'>doctor</span>
				</h2>
			</div>
			<div class='col-12'>
				<h1 class='jumbotron-fluid' style='color:#4a4a4a'>
					<h1 style='font-family:Roboto; font-weight:900; color:rgb(21, 31, 42);'>
						Privacy Policy
					</h1>
				</h1>
			</div>
		</div>
	</div>
</section>

<section class='py-4' style='background:#FFFFFF;'>
	<div class='container-fluid' 
			style='min-height:45vh; display:flex; flex-wrap:wrap; align-items:center; justify-content:center;'>
		<div class='col-12 col-sm-12 col-lg-6 pt-2'>
			<h6 class='pt-2' style='font-family:Montserrat,sans-serif; font-weight:900; color:#000000;'>
				Privacy Policy
			</h6>
			<ul>
				<li style='color:grey;'>
					We may use "cookies", where a small data file is sent to your browser to store and track information about you when you enter our websites. The cookie is used to track information such as the number of users and their frequency of use, profiles of users and their preferred sites. While this cookie can tell us when you enter our sites and which pages you visit, it cannot read data off your hard disk. 
				</li>
				<li style='color:grey;'>
					You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.
				</li>

				<li style='color:grey;'>
					If you provide us with personally identifiable data,<br>
						<span style='text-indent:50px;'> 
							a. We will NOT share your personal data with non-Government agencies and non-Public Healthcare Institutions, except where such entities have been authorised to carry out specific Government services.
						</span><br>
						<span style='text-indent:50px;'>
							b. For your convenience, we may also display to you data you had previously supplied us. This will speed up the transaction and save you the trouble of repeating previous submissions. Should the data be out-of-date, please supply us the latest data.
						</span>
				</li>

				<li style='color:grey;'>
					To safeguard your personal data, all electronic storage and transmission of personal data is secured with appropriate security technologies.
				</li>

				<li style='color:grey;'>
					Our website and app may contain links to other sites whose data protection and privacy practices may differ from ours. We are not responsible for the content and privacy practices of these other websites and encourage you to consult the privacy notices of those sites.
				</li>

				<li style='color:grey;'>
					By booking a tele-consultation call to the doctor, you agree to make available your Personal Data to the doctor and employee(s) of the same establishment.
				</li>
			</ul>
		</div>
	</div>
</section>
{% endblock %}
