{% extends 'base/dash_layout.html' %}


{% block content %}
<section id='' class='d-flex align-items-center position-relative vh-45 cover intro' 
		style='background-image:url("/static/uploads/app_img/bg001.jpeg"); 
						display:flex; align-items:center; justify-content:center;
						background-size: cover; 
						background-repeat: no-repeat; 
						background-position: center center; 
						background-attachment: fixed;'>
	<div class='container-fluid' style='min-height:45vh; 
			display:flex; align-items:center; justify-content:center;'>
		<div class='row text-center'>
			<div class='col-12'>
				<h2 style='font-family:Montserrat,sans-serif; font-weight:900; color:rgb(21, 31, 42);'>
					whose<span style='font-weight:300; color:rgb(254, 125, 1);'>doctor</span>
				</h2>
			</div>
			<div class='col-12'>
				<h1 class='jumbotron-fluid' style='color:#4a4a4a'>
					<h1 style='font-family:Roboto; font-weight:900; color:rgb(21, 31, 42);'>
						Use Terms
					</h1>
				</h1>
			</div>
		</div>
	</div>
</section>

<section class='py-4' style='background:#FFFFFF;'>
	<div class='container-fluid' 
			style='min-height:45vh; display:flex; flex-wrap:wrap; align-items:center; justify-content:center;'>
		<div class='col-12 col-sm-12 col-lg-6 pt-2'>
			<h6 class='pt-2' style='font-family:Montserrat,sans-serif; font-weight:900; color:#000000;'>
				Use Terms
			</h6>
			<ul>
				<li style='color:grey;'>
					All access of any area of https://www.whosedoctor.com (“the Website”) and the WhoseDoctor mobile application (“the App”) is governed by this Use Terms (“the Terms”).  
				</li>
				<li style='color:grey;'>
				 	In the Terms, the words "we", "our", and "us" refer to WhoseDoctor Pte Ltd.
				</li>

				<li style='color:grey;'>
					The overall purpose is to enable you seeking medical services to be matched with third party healthcare providers and delivery operators (collectively, the "Service"). 
				</li>

				<li style='color:grey;'>
					By using the Website and the App, you hereby expressly acknowledge and agree to be bound by the Terms, and any future amendments and additions to the Terms as published from time to time at http://www.whosedoctor.com or through the App.
				</li>

				<li style='color:grey;'>
					If you do not accept any of the Terms, please exit immediately. Continue only if you accept the Terms.
				</li>

				<li style='color:grey;'>
					We reserve the right to modify, vary and change the Terms and/or its policies relating to the Service at any time. Such modifications, variations and or changes to the Terms and/or its policies relating to the Service shall be effective upon the posting of an updated version at http://www.konnack.com. You agree that it shall be your responsibility to review the Terms regularly whereupon the continued use of the Service after any such changes, whether or not reviewed by you, shall constitute your consent and acceptance to such changes.
				</li>

				<li style='color:grey;'>
					We provide the Website and the App as Software as a Service only. 
				</li>

				<li style='color:grey;'>
					We are a technology company that do not provide medical and delivery services and we are not a healthcare provider nor are we a delivery operator. It is up to the third party healthcare providers and delivery operators to offer medical and delivery services to you and it is up to you to accept the medical and delivery services. 
				</li>

				<li style='color:grey;'>
					Our service is to connect you with third party healthcare providers and delivery operators, but is it not intended to provide medical services nor prescription delivery or any act that can be construed in any way as an act of a healthcare provider and/or delivery operator. We are not responsible nor liable for the acts and/or omission of any healthcare provider and delivery operator and/or any healthcare and/or delivery services provided to you.
				</li>

				<li style='color:grey;'>
					You agree to provide us with whatever proof of identity we may reasonably request or require.
				</li>

				<li style='color:grey;'>
					You agree to provide accurate, current and complete information as required for the Service and undertake the responsibility to maintain and update your information in a timely manner to keep it accurate, current and complete at all times during the term of this Agreement. 
				</li>

				<li style='color:grey;'>
					You agree that we may rely on your information as accurate, current and complete. 
				</li>

				<li style='color:grey;'>
					You agree that if your information is untrue, inaccurate, not current or incomplete in any respect, we have the right but not the obligation to terminate this Agreement and your use of the Service at any time with or without notice.
				</li>

				<li style='color:grey;'>
					You shall not employ any means to defraud us or enrich yourself, through any means, whether fraudulent or otherwise, through any event, promotion or campaign launched by us.
				</li>

				<li style='color:grey;'>
					You agree that the Service is provided on a reasonable effort basis.
				</li>

				<li style='color:grey;'>
					You agree that your use of the Service is also subject to our Privacy Policy and Refund Policy which may be amended from time to time.
				</li>

				<li style='color:grey;'>
					All disputes, controversies or differences (‘dispute’) arising out of or in connection with the Terms, including any questions regarding its existence, validity or termination, shall first be referred to mediation in Singapore, in accordance with the Law Society Mediation Rules for the time being in force.
				</li>
			</ul>

			<h6 class='pt-2' style='font-family:Montserrat,sans-serif; font-weight:900; color:#000000;'>
				Medical Disclaimer 
			</h6>
			<ul>
				<li style='color:grey;'>
					We are not involved in giving professional medical advice here. Before relying on the information on the Website or the App, you should do your own checks and obtain professional medical advice relevant to your particular circumstances. 
				</li>

				<li style='color:grey;'>
					The Website and the App may not cover all information available on a particular issue, and the information may not always be accurate, complete or up-to-date. 
				</li>

				<li style='color:grey;'>
					The information on the Website App and the Mobile App is not intended to be a substitute for the advice of a medical professional. 
				</li>

				<li style='color:grey;'>
					All information contained in the Website and the App is for informational purposes only and is to be used at your own risk. 
				</li>

				<li style='color:grey;'>
					We do not accept any responsibility for any reliance by you on the information contained in the Website or App.
				</li>
			</ul>
		</div>
	</div>
</section>
{% endblock %}
