{% extends 'base/dash_layout.html' %}


{% block content %}
<div style='min-height:100vh; display:flex; align-items:center; justify-content:center;'>
	<div class='jumbotron-fluid text-center' style='width:70%;'>
		<h2 style='font-family: Georgia, serif; color: #4a4a4a; line-height: 1.5;'><strong>
			Sorry, an internal server error has occurred.<br> 
			Please check the URL or go back a page.
		</strong></h2>

		<h3 style='font-family: Verdana, sans-serif; line-height: 1.5; color: #7d7d7d; font-weight: 300;'>
			500 Error. Internal Server Error.
		</h3>
	</div>
</div>
{% endblock %}

