{% extends 'base/layout.html' %}


{% block content %}
<div style='min-height:80vh; display:flex; align-items:center; justify-content:center;'>
	<div class='container' style='min-height:80vh; padding:0;'>
		
		{% if order.cart_items | list | length ==0 %}
			<div style='min-height:70vh; display:flex; align-items:center; justify-content:center;'>
				<div class='jumbotron-fluid text-center'>
					<h2 style='font-family:Georgia, serif; color:#4a4a4a; line-height:1.5;'><strong>
						There must be a glitch. No item found in this order.
					</strong></h2>
					<h3 style='font-family:Verdana, sans-serif; line-height:1.5; color:#7d7d7d; font-weight:300;'>
						Empty Order
					</h3>
				</div>
			</div>
		{% else %}
			<div class='container' 
					style='min-height:40vh; display:flex; align-items:center; justify-content:center;'>
				<table class='table table-sm table-borderless table-hover' style='width:100%;'>
					<thead style='margin-bottom:10px; border-bottom:1px solid rgba(0,0,0,.1)'>
						<tr style='text-align:left;'>
							<th scope='col'></th>
							<th scope='col'>Product</th>
							<th class='hide-div' scope='col'>Quantity</th>
							<th class='hide-div' scope='col'>Total</th>
							<th class='hide-div' scope='col'><h3>{{ title }}</h3></th>
						</tr>
					</thead>
					<tbody>
					{% for cart_item in order.cart_items %}
						<tr style='text-align:left;'>
							<td style='vertical-align:middle;'>
								<!-- src='{{ url_for("product.get_featured", filename=cart_item.feature_picture) }}' -->
								<img src='{{ url_for("static", filename="uploads/product_img/" + cart_item.feature_picture) }}'
									style='height:40px; width:40px; margin-left:-4px; object-fit:cover; object-position:center center; 
										box-shadow:0 0 0 1px #FFF; border-radius:9999px'>
							</td>
							<td style='vertical-align:middle;'>
								<Small>ID:{{ cart_item.id }} {{ cart_item.model }}</Small>
								<small class='hide-div'>{{ cart_item.brand }}</small>
								<!-- format amount() defined in __init__.py file -->
								<small class='hide-div'>{{ cart_item.currency }} {{ cart_item.amount | format_amount }}</small> 
								<br>
								<small class='hide-div'>
									Supplier ID: {{ cart_item.supplier.id }} | Supplier: {{ cart_item.supplier.name }}
								</small>
							</td>
							<td class='hide-div' style='vertical-align:middle;'>
								<small>{{ cart_item.quantity }}</small>
							</td>
							<td class='hide-div' style='vertical-align:middle;'>
								<!-- format amount() defined in __init__.py file -->
								<small>{{ cart_item.currency }}</small> {{ cart_item.ttl_amount | format_amount }}
							</td>
							<td style='width:10%; vertical-align:middle;'>
								<a href='{{ url_for("cart.remove_item", cart_item_id=cart_item.id) }}' class=''>
									<span class="fa-stack">
										<i class="fa fa-trash-o fa-stack-1x"></i>
									</span>
								</a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>

			<div class='container' 
					style='min-height:40vh; padding:0;
					display:flex; flex-wrap:wrap; align-items:center; justify-content:center;'>
				{% for cart_item in order.cart_items %}
					<div class='card' 
							style='width:340px; height:140px; margin:10px auto; border:0 transparent; border-radius:20px;'><!-- card -->
						<div class='card-body' 
								style='width:340px; height:140px; background:rgb(21, 31, 42, 0.9); border-radius:20px; overflow:hidden;
											display:flex; align-items:center; justify-content:center;'>

							<div class='container' style='width:70%;'>
								<small style='color:#F0FFFF'>qty: </small>
								<small style='font-family:Roboto, sans-serif; color:#F0FFFF;'>{{ cart_item.quantity }} | </small>

								<small style='color:#F0FFFF'>price: </small>
								<small style='font-family:Roboto, sans-serif; color:#F0FFFF;'>
									{{ cart_item.currency }} {{ cart_item.amount | format_amount }}
								</small><br>

								<span class='h6' style='color:#F0FFFF;'>
									{{ cart_item.currency }} {{ cart_item.ttl_amount | format_amount }}
								</span><br>
								<small style='color:#F0FFFF;'>ID:{{ cart_item.id }} {{ cart_item.model }}</small>
							</div>

							<div class='container' style='width:30%;'>	
								<!-- src='{{ url_for("product.get_featured", filename=cart_item.feature_picture) }}' -->
								<img src='{{ url_for("static", filename="uploads/product_img/" + cart_item.feature_picture) }}'
									style='height:60px; width:60px; object-fit:cover; object-position:center center; 
									box-shadow:0 0 0 1px #FFF; border-radius:9999px'>
							</div>
						</div>
					</div><!-- End Card -->
				{% endfor %}
			</div>

			<div class='py-4' 
					style='display:flex; flex-wrap:wrap; align-items:center; justify-content:center;'>
				<div class='container text-center hide-div' style='width:360px;'>	
					<span style='font-family:Roboto, sans-serif; color:#555; font-size:30px;'>
						{{ order.cart_items | list | length }}
					</span>
					<p style='color:#555;'>Products</p>
				</div>
				<div class='container text-center hide-div' style='width:360px;'>	
					<span style='font-family:Roboto, sans-serif; color:#555; font-size:30px;'> {{ total_items }}</span>
					<p style='color:#555;'>Items</p>
				</div>
				<div class='container text-center pb-4' style='width:360px;'>	
					<small style='font-family:Roboto, sans-serif; color:#555;'>{{ currency }}</small>
					<span style='font-family:Roboto, sans-serif; color:#555; font-size:30px;'>
					 {{ total_amount | format_amount }}
					</span>
				</div>
			</div>
		{% endif %}

	</div>
</div>
{% endblock %}