<div style='display: flex; height: 100vh; align-items: center; justify-content: center;'>
	<div class='container', style='width:50%;'>
		<p>Dear {{ user.username }},</p>
		<p>
		To reset your password 
		<a rel='noopener noreferrer' href='{{ url_for("auth.reset_password", token=token, _external=True) }}'> click here</a>.
		</p>

		<br>

		<p>Alternatively, you can paste the following link in your browser's address bar:</p>
		<p>{{ url_for('auth.reset_password', token=token, _external=True) }}</p>
		<p>If you have not requested a password reset simply ignore this message.</p>

		<br>
		
		<p>Sincerely,</p>
		<p>The WhoseDoctor Team</p>
	</div>
</div>