{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}

{% extends 'base/dash_layout.html' %}


{% block content %}
<div class='col-12 pt-4'>
{% include 'message/_message.html' %}
</div>

<div style='display:flex; min-height:80vh; align-items:center; justify-content:center;'>
	<div class='col-12 col-sm-4 col-lg-4'>
		<h4 class='py-4'>{{ title }} {{ consultation.customer.username }}</h4>
		
	</div>
</div>

<div style='min-height:100vh; 
		display:flex; flex-direction:column; min-height:60vh; align-items:center; 
		justify-content:center;'>
	<div class='col-12 col-sm-10 col-lg-10 py-2' 
			style='min-height:80vh; display:flex; align-items:center; justify-content:center;'>
		<div class='jumbotron-fluid' style='width:100%;'>
			{% for consultation in consultations %}
				{% include 'consultation/_list.html' %}
			{% endfor %}
		</div>
	</div>
</div>	
{% endblock %}
