{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base/auth_layout.html' %}


{% block content %}
<section id='' class='d-flex align-items-center position-relative vh-100 cover intro' 
		style='background-image:url("/static/uploads/app_img/pexels-daniel-frank-305567.jpg"); 
						display:flex; align-items:center; justify-content:center;
						background-size: cover; 
						background-repeat: no-repeat; 
						background-position: center center; 
						background-attachment: fixed;'>
	<div class='container-fluid' style='min-height:100vh; 
			display:flex; align-items:center; justify-content:center;'>
		<div class='row text-center' style='height:40vh;'>
			<div class='col-12'>
				<h2 style='font-family:Montserrat,sans-serif; font-weight:900; color:rgb(21, 31, 42);'>
					whose<span style='font-weight:300; color:rgb(254, 125, 1);'>doctor</span>
				</h2>
			</div>
			<div class='col-12 p-4' style='height:40vh;'>
				<h4 style='font-family:Roboto; font-weight:900; color:rgb(21, 31, 42);'>
					Sorry for any inconveniences caused, we are revamping & updating the webpage.<br>
					Kindly check back at this site again.
				</h4>
			</div>
			<div class='col-12 pt-4' style='height:5vh;'>
				<small class='text-muted'>Photo by Daniel Frank from Pexels</small>
			</div>
		</div>
	</div>
</section>

{% include 'footer/_landing_footer.html' %}


{% endblock %}
