<div style='display: flex; height: 100vh; align-items: center; justify-content: center;'>
	<div class='container', style='width:70%;'>

		<h1 style='font-family:Montserrat,sans-serif; font-weight:900; color:rgb(21, 31, 42);'>
			whose<span style='font-weight:300; color:rgb(254, 125, 1)'>doctor</span>
		</h1>

		<p style='font-size:1.3em;'>
			Dear {{ user.username }}, 
		</p>

		<h2 style='color:#555'>
			Confirm Your Email
		</h2>

		<p style='font-size:1.3em;'>
			Thanks for signing up with WhoseDoctor. Please verify your email by clicking on the link below. 
			<br>
			<a rel='noopener noreferrer' href='{{ url_for("auth.verify_email", token=token, _external=True) }}'> 
				<span style='color:red;'>Verify my email</span>
			</a>.
		</p>
		<br>
		<br>
		<p style='font-size:1.3em;'>
			Sincerely,
			<br>
			<br>
			The WhoseDoctor Team
			<br>
			Email: info@whosedoctor.com
			<br>
			Phone: +6598632844
		</p>
	</div>
</div>
