<div style='display: flex; min-height:100vh; align-items: center; justify-content: center;'>
	<div class='container', style='width:70%;'>
		<h1 style='font-family:Montserrat,sans-serif; font-weight:900; color:rgb(21, 31, 42);'>
			whose<span style='font-weight:300; color:rgb(254, 125, 1)'>doctor</span>
		</h1>

		<p style='font-size:1.3em;'>
			Dear {{ user.username }}, 
		</p>
		
		<h2 style='color:#555'>
			Lucky Draw Winners
		</h2>

		<p style='font-size:1.3em;'>
			Wow! April was wonderful and we have you to thank for.
			<br>
			<br>
			Last month, we told you that we are giving out a $20 NTUC voucher each to 5 lucky draw winners. Today, we are pleased to make that announcement. Congratulations to our lucky winners!
			<br> 
			<br>
			1. Alexander Abuan
			<br>
			2. Jasmin Simon
			<br>
			3. Calvin Teoh
			<br>
			4. Wendy Loh
			<br>
			5. Iqbal Surya
			<br>
			<br>
			We will be writing to the winners to arrange for the NTUC vouchers to be delivered. So, do look out for our mail. We appreciate all of you. Thank you!
			<br> 
		</p>
		<br>
		<p style='font-size:1.3em;'>
			Sincerely,
			<br>
			<br>
			The WhoseDoctor Team
			<br>
			Email: info@whosedoctor.com
			<br>
			Phone: +6598632844
		</p>
	</div>
</div>
