<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e84727ee0d9549a3970881d4cc73fe94 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_e84727ee0d9549a3970881d4cc73fe94" ></div>
        
</body>
<script>    
    
            var map_e84727ee0d9549a3970881d4cc73fe94 = L.map(
                "map_e84727ee0d9549a3970881d4cc73fe94",
                {
                    center: [1.299426, 103.789824],
                    crs: L.CRS.EPSG3857,
                    zoom: 11,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a649bb93133a4a88a81d6edcdf3c5798 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e84727ee0d9549a3970881d4cc73fe94);
        
    
            var feature_group_156c48e3f91c432394e33baa9a5c3d88 = L.featureGroup(
                {}
            ).addTo(map_e84727ee0d9549a3970881d4cc73fe94);
        
    
            var marker_c313dc1c08624da1b3abbe966feb4fd0 = L.marker(
                [1.2897, 103.8501],
                {}
            ).addTo(feature_group_156c48e3f91c432394e33baa9a5c3d88);
        
    
            var icon_0a7634f5ed834832bbc284309bd63622 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "truck", "iconColor": "white", "markerColor": "purple", "prefix": "fa"}
            );
            marker_c313dc1c08624da1b3abbe966feb4fd0.setIcon(icon_0a7634f5ed834832bbc284309bd63622);
        
    
        var popup_ff4437d3d2964012a4acd7329a7c7347 = L.popup({"maxWidth": "100%"});

        
            var html_64fcbb7c41f34df7a3d6918975f3836a = $(`<div id="html_64fcbb7c41f34df7a3d6918975f3836a" style="width: 100.0%; height: 100.0%;">Rider</div>`)[0];
            popup_ff4437d3d2964012a4acd7329a7c7347.setContent(html_64fcbb7c41f34df7a3d6918975f3836a);
        

        marker_c313dc1c08624da1b3abbe966feb4fd0.bindPopup(popup_ff4437d3d2964012a4acd7329a7c7347)
        ;

        
    
    
            var marker_c9fc93de834542ae8be60662c5a8abb7 = L.marker(
                [1.3200301, 103.8447824],
                {}
            ).addTo(feature_group_156c48e3f91c432394e33baa9a5c3d88);
        
    
            var icon_04a44be58b0748d9bf4f2cf7ddc155be = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "shopping-bag", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c9fc93de834542ae8be60662c5a8abb7.setIcon(icon_04a44be58b0748d9bf4f2cf7ddc155be);
        
    
        var popup_c303baecd526469c933daba2e1a09c6b = L.popup({"maxWidth": "100%"});

        
            var html_9b164dd4ea5f4a7688890690b3a69f36 = $(`<div id="html_9b164dd4ea5f4a7688890690b3a69f36" style="width: 100.0%; height: 100.0%;">Princeton-Plainsboro Teaching Hospital</div>`)[0];
            popup_c303baecd526469c933daba2e1a09c6b.setContent(html_9b164dd4ea5f4a7688890690b3a69f36);
        

        marker_c9fc93de834542ae8be60662c5a8abb7.bindPopup(popup_c303baecd526469c933daba2e1a09c6b)
        ;

        
    
    
            var marker_c25d0852a0794bf3a34677e5bee03a98 = L.marker(
                [1.2818152999999999, 103.80302931519108],
                {}
            ).addTo(feature_group_156c48e3f91c432394e33baa9a5c3d88);
        
    
            var icon_bc9fa0904aeb4ed69e8e1742ab3cb677 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_c25d0852a0794bf3a34677e5bee03a98.setIcon(icon_bc9fa0904aeb4ed69e8e1742ab3cb677);
        
    
        var popup_c75c4da8495a4a2a82a60edf39671876 = L.popup({"maxWidth": "100%"});

        
            var html_5fb93b32a23249928df4cfa597143388 = $(`<div id="html_5fb93b32a23249928df4cfa597143388" style="width: 100.0%; height: 100.0%;">Wade Wilson</div>`)[0];
            popup_c75c4da8495a4a2a82a60edf39671876.setContent(html_5fb93b32a23249928df4cfa597143388);
        

        marker_c25d0852a0794bf3a34677e5bee03a98.bindPopup(popup_c75c4da8495a4a2a82a60edf39671876)
        ;

        
    
</script>