<div class='sidenav py-4' style='display:flex; flex-wrap:wrap; align-items:center;'>
  <div class='container' style='width:100%;'>
    <a rel='noopener noreferrer' 
        href='{{ url_for("admin.booking") }}' class='nav-link'>
      <span class='fa-stack'>
        <i class='fa fa-truck fa-stack-1x text-grey'></i>
      </span>
      <small>Bookings</small>
    </a>
    <a rel='noopener noreferrer' 
        href='{{ url_for("admin.cart") }}' class='nav-link'>
      <span class='fa-stack'>
        <i class='fa fa-shopping-cart fa-stack-1x text-grey'></i>
      </span>
      <small>Carts</small>
    </a>
    <a rel='noopener noreferrer' 
        href='{{ url_for("admin.company") }}' class='nav-link'>
      <span class='fa-stack'>
        <i class='fa fa-building fa-stack-1x text-grey'></i>
      </span>
      <small>Companies</small>
    </a>
    <a rel='noopener noreferrer' 
        href='{{ url_for("admin.consultation") }}' class='nav-link'>
      <span class='fa-stack'>
        <i class='fa fa-universal-access fa-stack-1x text-grey'></i>
      </span>
      <small>Consultations</small>
    </a>
    <a rel='noopener noreferrer' 
        href='{{ url_for("admin.currency") }}' class='nav-link'>
      <span class='fa-stack'>
        <i class='fa fa-money fa-stack-1x text-grey'></i>
      </span>
      <small>Currencies</small>
    </a>
    <a rel='noopener noreferrer' 
        href='{{ url_for("admin.delivery") }}' class='nav-link'>
      <span class='fa-stack'>
        <i class='fa fa-truck fa-stack-1x text-grey'></i>
      </span>
      <small>Delivery Jobs</small>
    </a>
    <a rel='noopener noreferrer' 
        href='{{ url_for("admin.doctor") }}' class='nav-link'>
      <span class='fa-stack'>
        <i class='fa fa-user-md fa-stack-1x text-grey'></i>
      </span>
      <small>Doctors</small>
    </a>
    <a rel='noopener noreferrer' 
        href='{{ url_for("admin.feedback") }}' class='nav-link'>
      <span class='fa-stack'>
        <i class='fa fa-comments-o  fa-stack-1x text-grey'></i>
      </span>
      <small>Feedbacks</small>
    </a>
    <a rel='noopener noreferrer' 
        href='{{ url_for("admin.health_record") }}' class='nav-link'>
      <span class='fa-stack'>
        <i class='fa fa-comments-o  fa-stack-1x text-grey'></i>
      </span>
      <small>Health Records</small>
    </a>
    <a rel='noopener noreferrer' 
        href='{{ url_for("admin.medical_cert") }}' class='nav-link'>
      <span class='fa-stack'>
        <i class='fa fa fa-certificate fa-stack-1x text-grey'></i>
      </span>
      <small>Medical Certs</small>
    </a>
    <a rel='noopener noreferrer' 
        href='{{ url_for("admin.order") }}' class='nav-link'>
      <span class='fa-stack'>
        <i class='fa fa-first-order fa-stack-1x text-grey'></i>
      </span>
      <small>Orders</small>
    </a>
    <a rel='noopener noreferrer' 
        href='{{ url_for("admin.people") }}' class='nav-link'>
      <span class='fa-stack'>
        <i class='fa fa-users fa-stack-1x text-grey'></i>
      </span>
      <small>People</small>
    </a>
    <a rel='noopener noreferrer' 
        href='{{ url_for("admin.product") }}' class='nav-link'>
      <span class='fa-stack'>
        <i class='fa fa-shopping-bag fa-stack-1x text-grey'></i>
      </span>
      <small>Products</small>
    </a>
    <a rel='noopener noreferrer' 
        href='{{ url_for("admin.receipt") }}' class='nav-link'>
      <span class='fa-stack'>
        <i class='fa fa-truck fa-stack-1x text-grey'></i>
      </span>
      <small>Receipts</small>
    </a>

    <hr style='border-top:1px dotted grey;'>

    <a rel='noopener noreferrer' 
        href='{{ url_for("geomap.show") }}' class='nav-link'>
      <span class='fa-stack'>
        <i class='fa fa-map fa-stack-1x text-grey'></i>
      </span>
      <small>GeoMap</small>
    </a>
  </div>
</div>
