<div class='sidenav' style='display:flex; flex-wrap:wrap; align-items:center;'>
	<div class='container' style='width:100%;'>

    {% if user == current_user %}
      <a rel='noopener noreferrer' 
          href='{{ url_for("user.profile", user_id=user.id, username=user.username) }}' class='nav-link'>
        <span class='fa-stack'>
          <i class='fa fa-id-card-o  fa-stack-1x text-grey'></i>
        </span>
        <small>User Profile</small>
      </a>
      <a rel='noopener noreferrer' 
          href='{{ url_for("user.update", user_id=user.id, username=user.username) }}' class='nav-link'>
        <span class='fa-stack'>
          <i class='fa fa-address-card  fa-stack-1x text-grey'></i>
        </span>
        <small>Edit Profile</small>
      </a>

      {% if user.profession == 'Others' %}
      <a rel='noopener noreferrer' 
          href='{{ url_for("calendar.show", user_id=current_user.id, calendar_id=current_user.id) }}' 
          class='nav-link'>
        <span class='fa-stack'>
          <i class='fa fa-id-card-o  fa-stack-1x text-grey'></i>
        </span>
        <small>
          Appointment
        </small>
      </a>
      <a rel='noopener noreferrer' 
          href='{{ url_for("health_record.show", user_id=current_user.id , health_record_id=current_user.id) }}' 
          class='nav-link'>
        <span class='fa-stack'>
          <i class='fa fa-id-card-o  fa-stack-1x text-grey'></i>
        </span>
        <small>
          Health Record
        </small>
      </a>
      {% endif %}

      {% if user.profession == 'Physician' %}
        <a rel='noopener noreferrer' 
            href='{{ url_for("company.workplace", user_id=user.id) }}' 
            class='nav-link'>
          <span class='fa-stack'>
            <i class='fa fa-address-card  fa-stack-1x text-grey'></i>
          </span>
          <small>Workplace</small>
        </a>
      {% endif %}
    {% endif %}

	</div>
</div>